{% extends "header.html" %}

    {% block header %}
        <title>
            Playground
        </title>
    {% endblock header %}

    {% block body %}
        <h1> Playground </h1>

        <form method="post" action='playground/query'>
            {% csrf_token %}


            <div class="row" style="margin-left: 10px; margin-right: 10px;">
                <div class="col-2">
                    <input class="endpoint-input" type="radio" name="endpoint" id="Wiki_Data" value="1" onclick="showCustomEndpoint()" checked>
                    <label class="endpoint-label" for="Wiki_Data">
                        Wiki Data
                    </label>
                </div>

                <div class="col-2">
                    <input class="endpoint-input" type="radio" name="endpoint" id="dbpedia" value="2" onclick="showCustomEndpoint()">
                    <label class="endpoint-label" for="dbpedia">
                        dbpedia
                    </label>
                </div>

                <div class="col-2">
                    <input class="endpoint-input" type="radio" name="endpoint" id="Custom_Endpoint" value="3" onclick="showCustomEndpoint()">
                    <label class="endpoint-label" for="Custom_Endpoint">
                        Custom Endpoint: 
                    </label>
                </div>

                <div class="col-6">
                    <input name="endpoint-address" id="Custom_Endpoint_Address" value="{{serverAddress}}" type="text" required size="45" placeholder="https://query.wikidata.org/sparql" Optional>
                </div> 

                </div>

            </div>
              
            <div class="row" style="margin-top: 10px; margin-left: 20px; margin-right: 10px; width:80%">   
                <textarea class="form-control" id="/query" name="query" placeholder="SELECT ?subject ?predicate ?object
WHERE {
?subject ?predicate ?object .
SERVICE {

    }
}LIMIT 10"
                 rows="10" required>{{query}}</textarea>
            </div>


            <div class="row" style="margin-left: 10px; margin-right: 10px;margin-top: 10px;">
                <div class="col">
                Predicate:    <input type="text" id="predicate" value="{{predicate}}" name="predicate" placeholder="The largest city of $ is called " required size="50">
                Hint: Use '$' as a placeholder for the query result. by default, the query result comes after the predicate.
                </div>
            </div>


            <dir class="row" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
                <input type="submit">
            </dir>

        </form>
        <hr>

        {%block content %}
        {% endblock %}



        <script type="text/javascript">
            function showCustomEndpoint(){
                if (document.getElementById('Custom_Endpoint').checked) {
                    document.getElementById("Custom_Endpoint_Address").disabled = false;
                  }
                  else if (document.getElementById('Wiki_Data').checked || document.getElementById('dbpedia').checked){
                      document.getElementById("Custom_Endpoint_Address").disabled = true;
                  }
            }

            var address = "{{endpoint}}";
            window.onload = setRadioButton(address);
            window.onload = showCustomEndpoint();
            
            function setRadioButton(address){
                if (address == 1){ document.getElementById('Wiki_Data').checked = true; }
                else if (address == 2){ document.getElementById('dbpedia').checked = true; }
                else if (address == 3){ document.getElementById('Custom_Endpoint').checked = true; }
            }
            

        </script>
        
    {% endblock body %}