{% extends "header.html" %}

    {% block header %}
        <title>
            Statistic Page
        </title>
    {% endblock header %}

    {% block body %}
    
        <h1> Statistics Page</h1>

        <form method="post" id="applyForm" action='/stats/apply'>
            {% csrf_token %}

            <p> Please Select Your Query From The Following Options: </p>
            <div class="input-group" style="margin-top: 10px; margin-left: 20px; margin-right: 10px; width:80%">
                <select class="custom-select" id="queryDropDown" name="queryDropDown" >

                    {% for i,title in titles %}
                    
                        <option value="{{i}}" {% if dropdown.0 == i %}selected{% endif %}>{{title}}</option>

                    {% endfor %}    

                </select>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit" onclick="apply(); gettitle()">Apply</button>
                </div>
              </div>

        </form>

        
        
        <form method="post" action='/getstats'>
            {% csrf_token %}
            
            
            {% comment %} <p id="title" name="title" value="{{dropdown.0}}">{{dropdown.1}}</div> {% endcomment %}

            <h2>Main Query:</h2>
            
            <div class="row" style="margin-top: 10px; margin-left: 20px; margin-right: 10px; width:80%">   
                <textarea class="form-control" id="query" name="query" placeholder="SELECT ?subject ?predicate ?object
WHERE {
?subject ?predicate ?object .
SERVICE {

    }
}LIMIT 10"
                 rows="10" required>{{query}}</textarea>
            </div>

            <h2>Answer Query:</h2>


            <div class="row" style="margin-top: 10px; margin-left: 20px; margin-right: 10px; width:80%">   
                <textarea class="form-control" id="answerQuery" name="answerQuery" placeholder="SELECT ?subject ?predicate ?object
WHERE {
?subject ?predicate ?object .
SERVICE {

    }
}LIMIT 10"
                 rows="10" required>{{answerQuery}}</textarea>
            </div>

            <h2>Predicate:</h2>

            <div class="input-group" style="margin-top: 10px; margin-left: 20px; margin-right: 10px; width:80%">
                <input type="text" class="form-control" aria-label="Text input with dropdown button" name="predicateText" id="predicateText" placeholder="The largest city of $ is called " value="{{predicate}}" required>
                <div class="input-group-append">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                <div class="dropdown-menu">
                    {% for p in predicates %}

                        <a class="dropdown-item" onclick="updatePredicate('{{p}}')" >{{p}}</a>
                    {% endfor %}

                </div>
                </div>
                
            </div>
            <p>Hint: Use '$' as a placeholder for the query result. by default, the query result comes after the predicate.</p>


            <dir class="row" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
                <input type="submit" onclick="gettitle()">
            </dir>

        </form>
        <hr>


        {%block content %}
        {% endblock %}


        <script type="text/javascript">

            function updatePredicate(predicate) {
                document.getElementById('predicateText').value = predicate
            }
           

            function apply(){ 
                var queryDropDown = document.getElementById("queryDropDown").value;
               }

            function gettitle(){
                document.getElementById('title').innerHTML = document.getElementById('queryDropDown').value
                console.log( document.getElementById('queryDropDown').value)
            }
{% comment %} 
            const inputElement = document.getElementById('applyForm')
                inputElement.onclick = (e) => {
	                e.preventDefault()
                } {% endcomment %}


        </script>
        
    {% endblock body %}
